#page-wrapper {
	background-image: url(../images/amp.png);
	background-repeat: repeat;
}
.sidebar {
	/* margin-top: 81px !important; */
}
.navbar {
	/* min-height: 80px !important; */
	background-image: url(../images/topamp.png);
	background-size: cover;
}

.navbar-inverse {
    background-color: #000000;
  }

@media (min-width: 768px) {
	.sidebar {
		margin-top: 61px !important;
	}
	.navbar {
		min-height: 60px !important;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

@media (min-width: 1336px) {
	.sidebar {
		margin-top: 81px !important;
	}
	.navbar {
		min-height: 80px !important;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

@media (min-width: 1544px) {
	.sidebar {
		margin-top: 101px !important;
	}
	.navbar {
		min-height: 100px !important;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.nomtop {
	height: auto !important;
	width: 100% !important;
	display: block !important;
}